// Navigator
.navigator
  position: fixed
  background-color: #82b1ff
  height: 12em
  top: 0
  z-index: 999
  transition: height 0.5s
  .logo
    height: 12em
  .top-nav
    padding-left: 8%
    padding-right: 8%
    height: 65%
    img
      margin-top: 1%
  .bottom-nav
    padding-left: 8%
    padding-right: 8%
    background-color: #fff
    color: #000
  .nav-logo
    width: 14em
    height: auto
    transition: width 0.5s
.menu-navigator
  background-color: #fff
  box-shadow: none
  color: #000
  .button-collapse
    i
      color: #000
  ul
    // box-shadow: none
    border-radius: 1em
  li > a#mainPage
    border-left: 1px dashed #bec2c6
  li
    // border-image-slice: 15 15 15 15 fill
    // border-image-width: 10px 10px 10px 10px
    // border-image-outset: 0px 0px 0px 0px
    // border-image-repeat: round round
    // border-image-source: url("https://mdn.mozillademos.org/files/6011/border-image-3.png")
    border-right: 1px dashed #bec2c6
    a
      color: #000
      text-align: center
      font-weight: bold
      font-size: 15px
      transition: fontsize 0.5s
    a#whyTheBright
      width: 13em
    a#course
      width: 15em
    a#register
      width: 12.5em
.menu-navigator-component
  height: 4.3em
  transition: height 0.5s
  ul.dropdown-content
    top: 4.5em !important
    li
      border: none
// Navigator On scroll
.navigator-on-scroll
  position: fixed
  background-color: #82b1ff
  height: 6em
  top: 0
  z-index: 999
  .logo
    height: 12em !important
  .top-nav
    padding-left: 8% !important
    padding-right: 8% !important
    height: 65% !important
    img
      margin-top: 0.2% !important
  .bottom-nav
    padding-left: 8% !important
    padding-right: 8% !important
    background-color: #fff !important
    color: #000 !important
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
  .nav-logo
    width: 8.7em !important
    height: auto !important
.menu-navigator-component-on-scroll
  height: 2.5em !important
  ul.dropdown-content
    top: 2.7em !important
  .menu-navigator
    height: 2.5em !important
    li
      height: 2.5em !important
      margin-right: 0.7em !important
      a
        height: 3em !important
        display: flex !important
        align-items: center !important
        justify-content: center !important
        font-size: 13px !important
// Footer
.footer
  background: #b2ff59
  height: 12em
  display: flex
  align-items: center
  padding-left: 8%
  padding-right: 8%
  img
    width: 20em
    height: auto

// Register Page
.register-page
  margin-top: 12em
  .form-section
    background-color: rgba(250,250,250,0.5)
    padding: 2em
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
    border-radius: 1em
  .head-form
    text-align: center
    font-size: 35px
    font-weight: bold
    color: #414141
    margin-bottom: 1.5em
.section-button
  display: flex
  justify-content: center

// Upload Transcript Page
.upload-transcript-page
  margin-top: 12em
  .form-section
    background-color: rgba(250,250,250,0.5)
    padding: 2em
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
    border-radius: 1em
  .head-form
    text-align: center
    font-size: 35px
    font-weight: bold
    color: #414141
    margin-bottom: 1em

// Mainpage
.mainpage
  margin-top: 12em
  .section-slide
    padding-top: 0.1em
    padding-bottom: 1em
    display: flex
    justify-content: center
    .slider
      margin-top: 0.5%
      height: 32em !important
      border-radius: 1em
      box-shadow: -10px 0px 150px 3px #aaaaaa,10px 0px 150px 3px #bec2c6
      ul
        border-radius: 1em
      li.list-img-slide
        -webkit-border-top-left-radius: 1em
        -webkit-border-top-right-radius: 1em
        -moz-border-radius-topleft: 1em
        -moz-border-radius-topright: 1em
        border-top-left-radius: 1em
        border-top-right-radius: 1em
    .indicators
      bottom: 5%
    .icon-next
      display: flex
      align-items: center
      height: 31em !important
      cursor: pointer
      img
        width: 6.4em
        height: auto
        opacity: 0.5
    .icon-previous
      display: flex
      align-items: center
      height: 31em !important
      cursor: pointer
      img
        width: 6.4em
        height: auto
        opacity: 0.5
  .row.section-promote-course
    margin-bottom: 0 !important
  .section-promote-course
    padding-top: 3em
    padding-bottom: 3em
    padding-right: 3em
    padding-left: 3em
    .item-card-course
      padding-left: 1.5em
      padding-right: 1.5em
    .card
      border-radius: 1em
    .card-reveal
      border-radius: 1em
  .section-menu-other
    padding-bottom: 2em
.item-menu-other
  img
    width: 100%
    border: 1px dashed #bec2c6
    border-radius: 1em
.col.item-menu-other
  padding: 2em
/////Responsive/////

$breakpoint-tablet: 992px
$breakpoint-mobile-mini: 350px
$breakpoint-mobile-large: 1000px
$breakpoint-labtop: 1367px
$breakpoint-desktop: 1680px

/////mobile large/////
@media only screen and (min-device-width: 351px) and (max-device-width: $breakpoint-mobile-large) and (-webkit-min-device-pixel-ratio: 2)
  // Navigator
  .navigator
    position: fixed
    background-color: #82b1ff
    height: 12em
    top: 0
    z-index: 999
    transition: height 0.5s
    display: flex
    flex-flow: row
    .logo
      height: 12em
    .top-nav
      padding-left: 4%
      padding-right: 4%
      height: 65%
      img
        margin-top: 3%
    .bottom-nav
      padding-left: 4%
      padding-right: 4%
      background-color: inherit
      color: #000
    .nav-logo
      width: 26em
      height: auto
      transition: width 0.5s
  .menu-navigator
    background-color: inherit
    box-shadow: none
    color: #000
    .nav-wrapper
      display: flex
      justify-content: flex-end
      flex-flow: row-reverse
    .button-collapse
      height: 12em
      display: flex
      align-items: center
      i
        color: #fff
        font-size: 8rem
    ul
      // box-shadow: none
      border-radius: 1em
    li > a#mainPage
      border-left: 1px dashed #bec2c6
    .desktop-list
      li
        visibility: hidden !important
    ul#mobile-list
      border-radius: 0em !important
      li
        a
          width: 100%
          padding-top: 1em
          padding-bottom: 2em
          font-size: 38px
          text-align: left
          display: flex
          justify-content: flex-start
          i
            font-size: 5rem
    ul#why-the-bright-list-mobile
      top: 17em !important
    ul#team-the-bright-list-mobile
      top: 25em !important
    ul#course-list-mobile
      top: 33em !important
    ul#register-list-mobile
      top: 41em !important
      li
        a
          cursor: pointer
    li
      // border-image-slice: 15 15 15 15 fill
      // border-image-width: 10px 10px 10px 10px
      // border-image-outset: 0px 0px 0px 0px
      // border-image-repeat: round round
      // border-image-source: url("https://mdn.mozillademos.org/files/6011/border-image-3.png")
      border-right: 1px dashed #bec2c6
      a
        color: #000
        text-align: center
        font-weight: bold
        font-size: 15px
        transition: fontsize 0.5s
      a#whyTheBright
        width: 14em
      a#course
        width: 14em
      a#register
        width: 14em
  .menu-navigator-component
    height: 4.3em
    transition: height 0.5s
    ul.dropdown-content
      top: 4.5em !important
      li
        border: none
  // Navigator On scroll
  .navigator-on-scroll
    position: fixed !important
    background-color: #82b1ff !important
    height: 12em !important
    top: 0 !important
    z-index: 999 !important
    transition: height 0.5s !important
    display: flex !important
    flex-flow: row !important
    .logo
      height: 12em !important
    .top-nav
      padding-left: 4% !important
      padding-right: 4% !important
      height: 65% !important
      img
        margin-top: 3% !important
    .bottom-nav
      padding-left: 4% !important
      padding-right: 4% !important
      background-color: inherit !important
      color: #000 !important
      box-shadow: none !important
    .nav-logo
      width: 26em !important
      height: auto !important
      transition: width 0.5s !important
  .menu-navigator-on-scroll
    background-color: inherit !important
    box-shadow: none !important
    color: #000 !important
    .nav-wrapper
      display: flex !important
      justify-content: flex-end !important
      flex-flow: row-reverse !important
    .button-collapse
      height: 12em !important
      display: flex !important
      align-items: center !important
      i
        color: #fff !important
        font-size: 8rem !important
    ul
      // box-shadow: none
      border-radius: 1em !important
    li > a#mainPage
      border-left: 1px dashed #bec2c6 !important
    li
      // border-image-slice: 15 15 15 15 fill
      // border-image-width: 10px 10px 10px 10px
      // border-image-outset: 0px 0px 0px 0px
      // border-image-repeat: round round
      // border-image-source: url("https://mdn.mozillademos.org/files/6011/border-image-3.png")
      border-right: 1px dashed #bec2c6 !important
      visibility: hidden !important
      a
        color: #000 !important
        text-align: center !important
        font-weight: bold !important
        font-size: 15px !important
        transition: fontsize 0.5s !important
      a#whyTheBright
        width: 13em !important
      a#course
        width: 15em !important
      a#register
        width: 12.5em !important
  .menu-navigator-component
    height: 4.3em !important
    transition: height 0.5s !important
    ul.dropdown-content
      top: 4.5em !important !important
      li
        border: none !important

/////mobile small/////
@media only screen and (min-device-width: 100px) and (max-device-width: $breakpoint-mobile-mini)
  .navigator
    position: fixed
    background-color: #82b1ff
    height: 15em
    top: 0
