@font-face
  font-family: BoonTook
  src: url('/fonts/boontook-fonts-1.0.0/otf/BoonTook-Mon-Ultra.otf') format("truetype")
@font-face
  font-family: Cloud-Light
  src: url('/fonts/Cloud-LightBold/Cloud-Light.otf') format("truetype")
html
  font-family: Cloud-Light
.row.space
  margin-bottom: 0
// Navigator
.navigator
  position: fixed
  background: url('/images/navigator/bg.png') no-repeat fixed
  background-size: contain
  height: 12em
  top: 0
  z-index: 999
  transition: height 0.4s
  overflow: hidden
  .logo
    height: 12em
  .top-nav-landing
    display: flex
    justify-content: space-between
    padding-left: 8% !important
    padding-right: 8% !important
    height: 65% !important
    img
      margin-top: 3.5% !important
    img.nav-brochrue-landing
      margin-top: 6% !important
  .top-nav
    padding-left: 6%
    padding-right: 6%
    height: 65%
    img
      margin-top: 1%
  .bottom-nav
    padding-left: 6%
    padding-right: 6%
    background-color: #fff
    color: #000
  .nav-logo
    width: 14em
    height: auto
    transition: width 0.5s
  .nav-logo-landing
    width: 25em
    height: auto
    transition: width 0.5s
  .nav-brochrue-landing
    width: 20em
    height: auto
    transition: width 0.5s
.menu-navigator
  background-color: #fff
  box-shadow: none
  color: #000
  transition: height 0.2s
  .button-collapse
    i
      color: #000
  ul
    // box-shadow: none
    border-radius: 1em
  li
    a
      color: #000
      text-align: center
      font-weight: bold
      font-size: 16.5px
      transition: fontsize 0.5s
    a#whyTheBright
      width: 12.5em
    a#course
      width: 14em
    a#register
      width: 12em
.menu-navigator-component
  height: 4.3em
  transition: height 0.4s
  ul.dropdown-content
    top: 4.5em !important
    li
      border: none
// Navigator On scroll
.navigator-on-scroll
  position: fixed
  background-color: #82b1ff
  height: 6em
  top: 0
  z-index: 999
  transition: height 0.4s
  overflow: hidden
  .logo
    height: 12em !important
  .top-nav-landing
    display: flex
    justify-content: space-between
    padding-left: 15% !important
    padding-right: 16% !important
    height: 65% !important
    img
      margin-top: 1.5% !important
    img.nav-brochrue-landing
      margin-top: 4% !important
  .top-nav
    padding-left: 8% !important
    padding-right: 8% !important
    height: 65% !important
    img
      margin-top: 0.2% !important
  .bottom-nav
    padding-left: 8% !important
    padding-right: 8% !important
    background-color: #fff !important
    color: #000 !important
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
  .nav-logo
    width: 8.7em !important
    height: auto !important
    transition: width 0.5s
  .nav-logo-landing
    width: 13.7em !important
    height: auto !important
    transition: width 0.5s
  .nav-brochrue-landing
    width: 11em !important
    height: auto !important
    transition: width 0.5s
.menu-navigator-component-on-scroll
  height: 2.5em !important
  transition: height 0.2s
  ul.dropdown-content
    top: 2.7em !important
  .menu-navigator
    height: 2.5em !important
    transition: height 0.2s
    li
      height: 2.5em !important
      margin-right: 0.7em !important
      a
        height: 3em !important
        display: flex !important
        align-items: center !important
        justify-content: center !important
        font-size: 14px !important
      a#whyTheBright
        width: 14em
.btn-go
  img
    width: 17rem !important
    height: auto !important
// Footer
.footer
  background: url('/images/navigator/bg.png')
  background-size: cover
  height: 4.5rem
  display: flex
  align-items: center
  justify-content: space-between
  padding-left: 2rem
  padding-right: 2rem
  color: #fff
  font-size: 16px
  .menu-navigator
    background-color: inherit
  .desktop-list
    margin-top: -0.3rem !important
    li
      a
       color: #fff
       font-size: 16px !important
  ul#course-list.dropdown-content
    top: -10.3em !important
  ul#register-list.dropdown-content
    top: -13.6em !important

// Landing page
.landing-page
  .section-slide
    padding-top: 14em !important
    padding-top: 0.1em
    padding-bottom: 1em
    display: flex
    justify-content: center
    .slider
      background: rgba(255,255,255,0.6)
      margin-top: 0.5%
      height: 32em !important
      border-radius: 1em
      ul
        border-radius: 1em
      li.list-img-slide
        -webkit-border-top-left-radius: 1em
        -webkit-border-top-right-radius: 1em
        -moz-border-radius-topleft: 1em
        -moz-border-radius-topright: 1em
        border-top-left-radius: 1em
        border-top-right-radius: 1em
    .indicators
      bottom: 5%
      li
        background: #fff
    .icon-next
      display: flex
      align-items: center
      justify-content: center
      height: 32em !important
      cursor: pointer
      img
        width: 6.4em
        height: auto
        opacity: 0.5
    .icon-previous
      display: flex
      align-items: center
      justify-content: center
      height: 32em !important
      cursor: pointer
      img
        width: 6.4em
        height: auto
        opacity: 0.5
  .slide-landing.parallax-container
    height: 100%
    margin-bottom: 0
  .section-welcome.parallax-container
    height: 100%
    margin-bottom: 0
    .icon-go
      height: 25em
      display: flex
      justify-content: center
      align-items: center
      img
        margin-top: 2em
    .text-column-left
      height: 25em
      display: flex
      justify-content: center
      align-items: center
      span
        color: #40BFCA
        font-size: 70px
        font-weight: bold
    .text-column-right
      height: 25em
      display: flex
      justify-content: center
      align-items: center
      span
        color: #40BFCA
        font-size: 70px
        font-weight: bold
    img
      width: 20em
      height: auto


// Register Page
.register-page
  background: url('/images/mainpage/bg3.jpg')
  background-size: cover
  img
    width: 100%
  .how-to-register
    padding-top: 12rem
    margin-bottom: 0
    padding-left: 5rem
    padding-right: 5rem
  label
    color: #000
  .form-section
    background-color: rgba(255,255,255,0.8)
    padding: 2em
    margin-top: 13em
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
    border-radius: 1em
  .head-form
    text-align: center
    font-size: 35px
    font-weight: bold
    color: #414141
    margin-bottom: 1.5em
.section-button
  margin-top: 1em
  display: flex
  justify-content: center
.friend
  height: 2.3em
  display: flex
  justify-content: flex-end
  align-items: center
  span
    font-size: 18px
    font-weight: bold
.friend-button
  display: flex
  justify-content: flex-start

// Upload Transcript Page
.upload-transcript-page
  background: url('/images/mainpage/bg3.jpg')
  background-size: cover
  label
    color: #000
  .form-section
    background-color: rgba(255,255,255,0.8)
    padding: 2em
    margin-top: 13em
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
    border-radius: 1em
  .head-form
    text-align: center
    font-size: 35px
    font-weight: bold
    color: #414141
    margin-bottom: 1em
.upload-slip
  display: flex
  justify-content: center
  div
    display: flex
    justify-content: center
    align-items: center
    text-align: center
  img
    width: 30%
    height: auto
// Mainpage
.mainpage
  .section-slide
    padding-top: 14em !important
    padding-top: 0.1em
    padding-bottom: 1em
    display: flex
    justify-content: center
    .slider
      background: rgba(255,255,255,0.6)
      margin-top: 0.5%
      height: 32em !important
      border-radius: 1em
      ul
        border-radius: 1em
      li.list-img-slide
        -webkit-border-top-left-radius: 1em
        -webkit-border-top-right-radius: 1em
        -moz-border-radius-topleft: 1em
        -moz-border-radius-topright: 1em
        border-top-left-radius: 1em
        border-top-right-radius: 1em
    .indicators
      bottom: 5%
      li
        background: #fff
    .icon-next
      display: flex
      align-items: center
      justify-content: center
      height: 32em !important
      cursor: pointer
      img
        width: 6.4em
        height: auto
        opacity: 0.5
    .icon-previous
      display: flex
      align-items: center
      justify-content: center
      height: 32em !important
      cursor: pointer
      img
        width: 6.4em
        height: auto
        opacity: 0.5
  .row.section-promote-course
    margin-bottom: 0 !important
  .slide-and-promote.parallax-container
    height: 100%
    margin-bottom: 0
  .section-promote-course
    padding-top: 3em
    padding-bottom: 3em
    padding-right: 3em
    padding-left: 3em
    .item-card-course
      padding-left: 1.5em
      padding-right: 1.5em
    .card
      background: rgba(255,255,255,0.9)
      border-radius: 1em
      span
        font-size: 18px
      a
        font-size: 20px
        font-weight: bold
    .card-content
      display: flex
      justify-content: center
      div
        text-align: center
    .card-image
      padding: 0em
      border-bottom: 1px solid #cccccc
      img
        border-top-right-radius: 1.4em
        border-top-left-radius: 1.4em
    .card-reveal
      border-radius: 1em
  .section-menu-other.parallax-container
    height: 100%
    margin-bottom: 0
.item-menu-other
  img
    background-color: #fff
    width: 100%
    border: 1px dashed #cccccc
    border-radius: 1em
.col.item-menu-other
  padding: 4em


// Why the bright
.know-the-bright
  padding-top: 12em
.why-the-bright
  padding-top: 9em
.smart-child
  .section-slide
    padding-top: 14em !important
    padding-top: 0.1em
    padding-bottom: 1em
    display: flex
    justify-content: center
    .slider
      background: rgba(255,255,255,0.6)
      margin-top: 0.5%
      height: 56em !important
      border-radius: 1em
      ul
        border-radius: 1em
      li.list-img-slide
        -webkit-border-top-left-radius: 1em
        -webkit-border-top-right-radius: 1em
        -moz-border-radius-topleft: 1em
        -moz-border-radius-topright: 1em
        border-top-left-radius: 1em
        border-top-right-radius: 1em
        height: 52em !important
    .indicators
      bottom: 2%
      li
        background: #fff
    .icon-next
      display: flex
      align-items: center
      justify-content: center
      height: 56em !important
      cursor: pointer
      img
        width: 6.4em
        height: auto
        opacity: 0.5
    .icon-previous
      display: flex
      align-items: center
      justify-content: center
      height: 56em !important
      cursor: pointer
      img
        width: 6.4em
        height: auto
        opacity: 0.5
.smart-child.parallax-container
  height: 100%
  margin-bottom: 0

//  Team the bright
.the-best-tutors
  padding-top: 10em

// Course
.items-course
  background: url('/images/mainpage/bg-pl.jpg')
  background-size: cover
.course-page.parallax-container
  height: 100%
  margin-bottom: -20px
.header-course
  padding-top: 14em
  display: flex
  justify-content: center
  padding-left: 5rem
  padding-right: 5rem
  img
    width: 100%
.poster-course
  padding-top: 2em
  display: flex
  justify-content: center
  padding-left: 5rem
  padding-right: 5rem
  img
    width: 100%
.item-menu-course
  display: flex
  justify-content: center
  flex-flow: column
  img
    width: 100%
    border-radius: 5em
  span
    width: 100%
    text-align: center
    font-size: 30px
    font-weight: bold
    color: #fff
.col.item-menu-course
  padding: 4em

// Gallery
.gallery
  padding-top: 10em

// Contact
.contact
  padding-top: 9em


//Admin
.container-login
  display: flex
  justify-content: center
  width: 100%
  padding-top: 5rem
  h3
    text-align: center
    font-weight: bold
    color: #323232
.box-login
  width: 60%
  padding-left: 5rem
  padding-right: 5rem
  padding-top: 2rem
  padding-bottom: 2rem
  a
    text-align: center
.admin
  .row
    margin-bottom: 0
.menu-admin-manage
  width: 20%
  display: flex
  justify-content: space-around
  align-items: flex-end
.head-admin
  padding-left: 2rem
  padding-right: 2rem
  width: 100%
  display: flex
  justify-content: space-between
.menu-admin
  padding: 0 !important
  font-size: 24px
  margin-bottom: 0 !important
.menu-khonkaen
  padding: 1rem
  cursor: pointer
.menu-khonkaen:hover
  color: #7BCBCC
.menu-khonkaen.active
  color: #7BCBCC
.menu-hatyai
  padding: 1rem
  cursor: pointer
.menu-hatyai:hover
  color: #7BCBCC
.menu-hatyai.active
  color: #7BCBCC
.menu-phitsanulok
  padding: 1rem
  cursor: pointer
.menu-phitsanulok:hover
  color: #7BCBCC
.menu-phitsanulok.active
  color: #7BCBCC
.collapsible-header
  display: flex
  justify-content: space-between
.collapsible-body
  padding: 2rem
.approve-btn
  a
    width: 2rem !important
    height: 2rem !important
    margin: 0.2rem
    i
      line-height: 2rem !important
      font-size: 1.3rem !important
.remove-btn
  a
    width: 2rem !important
    height: 2rem !important
    margin: 0.2rem
    i
      line-height: 2rem !important
      font-size: 1.3rem !important
.list-student
  padding: 1rem !important
i.approve-icon
  color: #8bc34a
.student-item
  img
    width: 20rem
    height: auto
// Profile
.ind-profile
  padding-top: 13rem
  padding-bottom: 3rem
  display: flex
  justify-content: center
  background: url('/images/mainpage/bg-pl.jpg')
.ind-profile-detail
  width: 50%
  border-radius: 0.5rem
  padding: 1rem
  background-color: rgba(255,255,255,0.8)
  img
    width: 60%
    height: 30%
  hr.line-header
    margin-left: 6.5rem
    margin-right: 6.5rem
    background-color: #f1f1f1
    opacity: 0.5
  hr.line-section
    background-color: #f1f1f1
    opacity: 0.5
  h3
    text-align: center
  h5
    font-weight: bold
  span
    font-size: 25px
    line-height: 3.3rem
  div
    display: flex
    justify-content: space-between
    padding-left: 1rem
    padding-right: 1rem
.group-profile-detail
  width: 50%
  border-radius: 0.5rem
  padding: 1rem
  background-color: rgba(255,255,255,0.8)
  img
    width: 60%
    height: 30%
  hr.line-header
    margin-left: 6.5rem
    margin-right: 6.5rem
    background-color: #f1f1f1
    opacity: 0.5
  hr.line-section
    background-color: #f1f1f1
    opacity: 0.5
  h3
    text-align: center
  h5
    font-weight: bold
  span
    font-size: 25px
    line-height: 4rem
  div
    display: flex
    justify-content: space-between
    padding-left: 1rem
    padding-right: 1rem
  .friend-name
    padding-left: 0 !important
    padding-right: 0 !important
    .friend-items
      padding-left: 0 !important
      padding-right: 0 !important
.text-approve
  color: #f44336
.text-approve.active
  color: #4caf50
.text-approve-group
  color: #f44336
  line-height: 1rem
.text-approve-group.active
  color: #4caf50
  line-height: 1rem
// Search
.search-page
  background: url('/images/mainpage/bg-pl.jpg')
  background-size: cover
  padding-top: 15rem
  ul
    margin: 0 !important
    padding: 2rem
    padding-bottom: 9.8rem
.search-container
  padding-left: 5rem
  padding-right: 5rem
.search-bar
  background: rgba(255,255,255,0.4)
  border-radius: 0.2rem
  input
    border-bottom: 1px solid #fff
  input
    .active
      border-bottom: 1px solid #000
.btn-search
  display: flex
  align-items: center
  height: 5rem
.row-item
  display: flex
  flex-flow: row
  width: 100%
  .detail-items-student
    display: flex
    justify-content: space-between
    width: 100%
// Smartpass
.smart-pass
  padding-top: 13.2rem
  padding-left: 1rem
  padding-right: 1rem
.smart-item
  height: 25rem
  background: url('/images/smartpass/bg-print.png')
  background-size: cover
  color: #fff
.qr-code-img
  display: flex
  align-items: center
  height: 25rem
  padding-left: 1.5rem !important
  img
    width: 100%
.smart-pass-detail
  text-align: center
  .detail
    padding-top: 1rem
    i
      font-size: 4rem
.tb-id-smartpass
  display: flex
  justify-content: flex-end
  padding-top: 1rem
.smart-pass-name
  display: flex
  justify-content: center
  h4
    width: 40%
.smart-pass-school
  display: flex
  justify-content: center
  h4
    width: 40%
.print-btn
  display: flex
  justify-content: flex-end
  padding-bottom: 1rem
  padding-right: 1rem
.qr-code-img
  canvas
    display: none

@media only print and (max-device-width: 1366px)
  *
    -webkit-print-color-adjust: exact
    print-color-adjust: exact
  .smart-item
    position: relative
    display: list-item
    list-style-image: url('/images/smartpass/bg-print.png')
    list-style-position: inside
    color: #fff
  #detail-print
    position: absolute
    top: 20%
    left: 0
    width: 100%
  .qr-code-img
    display: flex
    align-items: center
    height: 25rem
    width: 16.66667%
    margin-left: auto
    left: auto
    right: auto
  .smart-pass-detail
    display: flex
    align-items: center
    text-align: center
    padding-left: -5%
    width: 66.66667%
    h3
      margin-top: 0
      font-size: 65px
      width: 200%
    .detail
      padding-top: 0
      i
        font-size: 5rem
  .tb-id-smartpass
    display: flex
    justify-content: flex-end
    padding-top: 1rem
    width: 200%
    h5
      font-size: 57px
  .smart-pass-name, .smart-pass-school
    display: flex
    justify-content: center
    width: 200%
    padding-top: 0.5rem
    h4
      font-size: 55px
      margin-top: 0.3rem

  .smart-pass-other
    width: 16.66667%
    margin-left: auto
    left: auto
    right: auto

  #img-qr
    margin-left: 3rem
    width: 500%
    height: auto
@media only print and (max-device-width: 1280px)
  *
    -webkit-print-color-adjust: exact
    print-color-adjust: exact
  .smart-item
    position: relative
    display: list-item
    list-style-image: url('/images/smartpass/bg-print.png')
    list-style-position: inside
    color: #fff
  #detail-print
    position: absolute
    top: 20%
    left: 0
    width: 100%
  .qr-code-img
    display: flex
    align-items: center
    height: 25rem
    width: 16.66667%
    margin-left: auto
    left: auto
    right: auto
  .smart-pass-detail
    display: flex
    align-items: center
    text-align: center
    padding-left: -5%
    width: 66.66667%
    h3
      margin-top: 0
      font-size: 65px
      width: 200%
    .detail
      padding-top: 0
      i
        font-size: 5rem
  .tb-id-smartpass
    display: flex
    justify-content: flex-end
    padding-top: 1rem
    width: 200%
    h5
      font-size: 57px
  .smart-pass-name, .smart-pass-school
    display: flex
    justify-content: center
    width: 200%
    padding-top: 0.5rem
    h4
      font-size: 55px
      margin-top: 0.3rem

  .smart-pass-other
    width: 16.66667%
    margin-left: auto
    left: auto
    right: auto

  #img-qr
    margin-left: 3rem
    width: 200%
    height: auto
/////Responsive/////

$breakpoint-mobile-mini: 350px
$breakpoint-mobile-large: 1000px
$breakpoint-labtop: 1367px
$breakpoint-desktop: 1680px

/////mobile large/////
@media only screen and (min-device-width: 351px) and (max-device-width: $breakpoint-mobile-large)
  .section-slide
    background: url('/images/mainpage/bg-pl.jpg')
    background-size: cover
    .row
      margin-bottom: 0
  .section-welcome
    background: url('/images/landing/bg-pl3.png')
    background-size: cover
  .top-nav-landing
    width: 100%
  .text-column-right
    span
      font-size: 49px !important
      color: #ffa449 !important
  .text-column-left
    span
      font-size: 48px !important
      color: #ffa449 !important


  //Admin
  .container-login
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    width: 100%
  .box-login
  .collapsible-header
    display: flex
    justify-content: space-between
    height: 6rem
    font-size: 45px
    padding: 1rem
    i
      font-size: 3rem
      margin-right: 2.5rem
  .collapsible-body
    padding: 2rem
    font-size: 20px !important
  .approve-menu
    a
      width: 4rem !important
      height: 4rem !important
      margin: 0.5rem
      i
        line-height: 3.8rem !important
        font-size: 3rem !important
        margin-left: 0.5rem
  i.approve-icon
    color: #8bc34a
  .navigator
    position: fixed
    background: url('/images/navigator/bg.png') no-repeat fixed
    background-size: cover
    height: 12em
    top: 0
    z-index: 999
    transition: hei4ht 0.2s
    display: flex
    flex-flow: row
    .logo
      height: 12rem !important
    .top-nav
      padding-left: 4%
      padding-right: 4%
      height: 65%
      img
        margin-top: 3%
    .bottom-nav
      padding-left: 4%
      padding-right: 4%
      background-color: rgba(255,255,255,0)
      color: #000
    .nav-logo
      width: 26em
      height: auto
      transition: width 0.5s
  .menu-navigator
    background-color: inherit
    box-shadow: none
    color: #000
    transition: height 0.2s
    .nav-wrapper
      display: flex
      justify-content: flex-end
      flex-flow: row-reverse
    .button-collapse
      height: 12em
      display: flex
      align-items: center
      i
        color: #fff
        font-size: 8rem
    ul
      // box-shadow: none
      border-radius: 1em
    li > a#mainPage
      border-left: 1px dashed #bec2c6
    .desktop-list
      li
        visibility: hidden !important
    ul#mobile-list
      border-radius: 0em !important
      overflow-y: auto
      li
        a.button-left
          width: 100%
          padding-top: 0.5em
          padding-bottom: 1.5em
          font-size: 36px
          display: flex
          justify-content: flex-start
        a.button-right
          width: 100%
          padding-top: 1em
          padding-bottom: 2em
          font-size: 26px
          padding-left: 2em
          display: flex
          justify-content: flex-start
    ul#why-the-bright-list-mobile
      top: 17em !important
    ul#team-the-bright-list-mobile
      top: 25em !important
    ul#course-list-mobile
      top: 33em !important
    ul#register-list-mobile
      top: 41em !important
    li
      border-right: 1px dashed #bec2c6
      a
        color: #000
        text-align: center
        font-weight: bold
        font-size: 15px
        transition: fontsize 0.5s
      a#whyTheBright
        width: 14em
      a#course
        width: 14em
      a#register
        width: 14em
  .menu-navigator-component
    height: 4.3em
    transition: height 0.2s
    ul.dropdown-content
      top: 4.5em !important
      li
        border: none
  // Navigator On scroll
  .navigator-on-scroll
    position: fixed !important
    background: url('/images/navigator/bg.png') no-repeat fixed !important
    background-size: cover !important
    height: 12em !important
    top: 0 !important
    z-index: 999 !important
    transition: hei4ht 0.2s !important
    display: flex !important
    flex-flow: row !important
    .logo
      height: 12em !important
      img
        height: 10em !important
        width: auto !important
    .download-brochure
      img
        height: 25em !important
        width: auto !important
    .top-nav
      padding-left: 4% !important
      padding-right: 4% !important
      height: 65% !important
      img
        margin-top: 3% !important
    .bottom-nav
      padding-left: 4% !important
      padding-right: 4% !important
      background-color: inherit !important
      color: #000 !important
      box-shadow: none !important
    .nav-logo
      width: 26em !important
      height: auto !important
      transition: width 0.5s !important
  .menu-navigator-on-scroll
    background-color: inherit !important
    box-shadow: none !important
    color: #000 !important
    .nav-wrapper
      display: flex !important
      justify-content: flex-end !important
      flex-flow: row-reverse !important
    .button-collapse
      height: 12em !important
      display: flex !important
      align-items: center !important
      i
        color: #fff !important
        font-size: 8rem !important
    ul
      // box-shadow: none
      border-radius: 1em !important
    li > a#mainPage
      border-left: 1px dashed #bec2c6 !important
    li
      // border-image-slice: 15 15 15 15 fill
      // border-image-width: 10px 10px 10px 10px
      // border-image-outset: 0px 0px 0px 0px
      // border-image-repeat: round round
      // border-image-source: url("https://mdn.mozillademos.org/files/6011/border-image-3.png")
      border-right: 1px dashed #bec2c6 !important
      visibility: hidden !important
      a
        color: #000 !important
        text-align: center !important
        font-weight: bold !important
        font-size: 15px !important
        transition: fontsize 0.5s !important
      a#whyTheBright
        width: 13em !important
      a#course
        width: 15em !important
      a#register
        width: 12.5em !important
  .menu-navigator-component
    height: 4.3em !important
    transition: hei4ht 0.2s !important
    ul.dropdown-content
      top: 4.5em !important !important
      li
        border: none !important
  // Mainpage
  .parallax
    display: none
  .section-promote-course
    .card
      background: rgba(255,255,255,0.9)
      border-radius: 1em
      span
        font-size: 33px !important
      a
        font-size: 35px !important
  .section-menu-other
    background: url('/images/mainpage/bg-pl2.jpg')
    background-size: cover
  .mainpage
    background: url('/images/mainpage/bg-pl.jpg')
    background-size: cover
    .section-slide
      padding-top: 0.1em
      padding-bottom: 1em
      display: flex
      justify-content: center
      .slide-container
        width: 100%
      .slides
        height: 40rem !important
      .slider
        margin-left: -16%
        margin-top: 0.5%
        width: 132%
        height: 45rem !important
        border-radius: 1em
        box-shadow: -10px 0px 150px 3px #aaaaaa,10px 0px 150px 3px #bec2c6
        ul
          border-radius: 1em
        li.list-img-slide
          -webkit-border-top-left-radius: 1em
          -webkit-border-top-right-radius: 1em
          -moz-border-radius-topleft: 1em
          -moz-border-radius-topright: 1em
          border-top-left-radius: 1em
          border-top-right-radius: 1em
      .indicators
        bottom: 3%
      .icon-next
        display: flex
        align-items: center
        height: 31em !important
        cursor: pointer
        visibility: hidden
        img
          width: 6.4em
          height: auto
          opacity: 0.5
      .icon-previous
        display: flex
        align-items: center
        height: 31em !important
        cursor: pointer
        visibility: hidden
        img
          width: 6.4em
          height: auto
          opacity: 0.5
  .section-poster
    img
      height: 40em
  .know-the-bright
    height: 85vh
    display: flex
    align-items: center
    background: url('/images/mainpage/bg-pl.jpg')
    background-size: cover
  .why-the-bright
    height: 85vh
    display: flex
    align-items: center
    background: url('/images/mainpage/bg-pl.jpg')
    background-size: cover
  .container-smart-child
    height: 85vh
    background: url('/images/mainpage/bg-pl.jpg')
    background-size: cover
    .section-slide
      background: none
    .smart-child
      padding-top: 15% !important
  .the-best-tutors
    height: 85vh
    display: flex
    align-items: center
    background: url('/images/mainpage/bg-pl.jpg')
    background-size: cover
  .gallery
    height: 85vh
    display: flex
    align-items: center
    background: url('/images/mainpage/bg-pl.jpg')
    background-size: cover
  .contact
    height: 85vh
    display: flex
    align-items: center
    background: url('/images/mainpage/bg-pl.jpg')
    background-size: cover
  // Footer
  .footer
    background: url('/images/navigator/bg.png')
    background-size: cover
    height: 18em
    display: flex
    align-items: center
    padding-left: 8%
    padding-right: 8%
    img
      width: 25em
      height: auto
  // Register page
  .register-page
    .head-form
      text-align: center
      font-size: 60px
      font-weight: bold
      color: #414141
      margin-top: 1em
    label
      font-size: 50px
    label.active
      transform: translateY(-30%)
      font-size: 40px
    input
      font-size: 50px
      margin-top: 1.5em
      height: 1em
    textarea
      font-size: 50px
      margin-top: 1.5em
    .select-wrapper
      font-size: 50px
      margin-top: 1.5em
      span
        top: -30%
        font-size: 0.6em
      input.select-dropdown
        font-size: 40px
        height: 1.26em
      ul
        li
          span
            font-size: 30px
    textarea.materialize-textarea:focus
      border-bottom: 1px solid #43609C !important
    textarea.materialize-textarea:focus + label
      color: #43609C !important
    input[type=text]:focus
      border-bottom: 1px solid #43609C !important
    input[type=text]:focus + label
      color: #43609C !important
    input[type=password]:focus
      border-bottom: 1px solid #43609C !important
    input[type=password]:focus + label
      color: #43609C !important
    input[type=email]:focus
      border-bottom: 1px solid #43609C !important
    input[type=email]:focus + label
      color: #43609C !important
  .btn-signup
    height: 2.5em
    font-size: 40px
    line-height: 2.5em
  .picker__box
    height: 75rem
    width: 45rem
    margin-left: -55%
    font-size: 50px
    .picker__weekday-display
      font-size: 50px
    .picker__month-display
      font-size: 50px
    .picker__day-display
      font-size: 50px
    .picker__year-display
      font-size: 50px
    th
      font-size: 40px
    .picker__day
      font-size: 40px
    .btn-flat
      font-size: 40px
    .picker__calendar-container
      margin-top: 2rem
    .picker__footer
      margin-top: 7rem
  .friend
    height: 4.5em
    display: flex
    justify-content: flex-end
    align-items: center
    span
      font-size: 35px
      font-weight: bold
  .friend-button
    display: flex
    justify-content: flex-start
    .btn-add-friend
      height: 2.5em
      font-size: 30px
      line-height: 2.5em
  // Profile
  .ind-profile
    padding-top: 23%
    padding-bottom: 5%
  .ind-profile-detail
    width: 60%

    h3
      font-size: 60px
    h5
      font-size: 45px
  .friend-name
    padding-left: 0 !important
    padding-right: 0 !important
    .friend-items
      padding-left: 0 !important
      padding-right: 0 !important
  // Upload transcript page
  .upload-transcript-page
    .head-form
      text-align: center
      font-size: 60px
      font-weight: bold
      color: #414141
      margin-top: 1em
    label
      font-size: 50px
    label.active
      transform: translateY(-30%)
      font-size: 40px
    input
      font-size: 50px
      margin-top: 1.5em
      height: 1em
    textarea
      font-size: 50px
      margin-top: 1.5em
    .select-wrapper
      font-size: 50px
      margin-top: 1.5em
      span
        top: -30%
        font-size: 0.6em
      input.select-dropdown
        font-size: 40px
        height: 1.26em
      ul
        li
          span
            font-size: 30px
    textarea.materialize-textarea:focus
      border-bottom: 1px solid #43609C !important
    textarea.materialize-textarea:focus + label
      color: #43609C !important
    input[type=text]:focus
      border-bottom: 1px solid #43609C !important
    input[type=text]:focus + label
      color: #43609C !important
    input[type=password]:focus
      border-bottom: 1px solid #43609C !important
    input[type=password]:focus + label
      color: #43609C !important
    input[type=email]:focus
      border-bottom: 1px solid #43609C !important
    input[type=email]:focus + label
      color: #43609C !important
  .btn-upload-transcription
    height: 2.5em
    font-size: 40px
    line-height: 2.5em
  .btn-upload-file
    margin-right: 1rem
    width: 12rem
    height: 9rem !important
    font-size: 40px
    line-height: 9rem !important
  .picker__box
    height: 75rem
    width: 45rem
    margin-left: -55%
    font-size: 50px
    .picker__weekday-display
      font-size: 50px
    .picker__month-display
      font-size: 50px
    .picker__day-display
      font-size: 50px
    .picker__year-display
      font-size: 50px
    th
      font-size: 40px
    .picker__day
      font-size: 40px
    .btn-flat
      font-size: 40px
    .picker__calendar-container
      margin-top: 2rem
    .picker__footer
      margin-top: 7rem
  // Search
  .search-page
    padding-bottom: 75%
  .search-bar
    input
      font-size: 30px
    a
      width: 4rem !important
      height: 4rem !important
      margin: 0.5rem
      i
        line-height: 3.8rem !important
        font-size: 3rem !important
  .btn-search
    padding-left: 3rem !important

  //Admin
  .head-admin
    h3
      font-size: 4rem
  .admin
    .row
      margin-bottom: 0
  .menu-admin-manage
    width: 20%
    display: flex
    justify-content: space-around
    align-items: flex-end
  .head-admin
    padding-left: 2rem
  .menu-admin
    width: 100%
    display: flex
    justify-content: space-around
    border-bottom: 1px solid #000
    border-top: 1px solid #000
  .menu-khonkaen
    padding: 1rem
    cursor: pointer
    font-size: 3rem
  .menu-khonkaen:hover
    color: #7BCBCC
  .menu-khonkaen.active
    color: #7BCBCC
  .menu-hatyai
    padding: 1rem
    cursor: pointer
    font-size: 3rem
  .menu-hatyai:hover
    color: #7BCBCC
  .menu-hatyai.active
    color: #7BCBCC
  .menu-phitsanulok
    padding: 1rem
    cursor: pointer
    font-size: 3rem
  .menu-phitsanulok:hover
    color: #7BCBCC
  .menu-phitsanulok.active
    color: #7BCBCC
  .collapsible-header
    display: flex
    justify-content: space-between
  .collapsible-body
    padding: 2rem
  .approve-btn
    a
      width: 3.5rem !important
      height: 3.5rem !important
      margin: 0.2rem
      padding-left: 0.5rem
      i
        line-height: 3.2rem !important
        font-size: 2.5rem !important
  .remove-btn
    a
      width: 3.5rem !important
      height: 3.5rem !important
      margin: 0.2rem
      padding-left: 0.4rem
      i
        line-height: 3.4rem !important
        font-size: 2.5rem !important
  i.approve-icon
      line-height: 3.4rem !important
      font-size: 3.5rem !important
  .list-student
    padding: 1rem !important
    h5
      font-size: 3rem
      margin-bottom: 2rem
  i.approve-icon
    color: #8bc34a

  // Smartpass
  .smart-pass
    padding-top: 13.2rem
    padding-bottom: 87%
  .smart-pass-name
    display: flex
    justify-content: center
    h4
      width: 60%
  .smart-pass-school
    display: flex
    justify-content: center
    h4
      width: 60%
  .print-btn
    display: flex
    justify-content: flex-end
    padding-bottom: 1rem
    padding-right: 1rem
    padding-left: 1rem
    a
      width: 100%
      height: 5rem
      font-size: 40px
      line-height: 5rem
/////mobile small/////
@media only screen and (min-device-width: 100px) and (max-device-width: $breakpoint-mobile-mini)
  .navigator
    position: fixed
    background-color: #82b1ff
    height: 15em
    top: 0
