// Navigator
.navigator
  position: fixed
  background-color: #82b1ff
  height: 12em
  top: 0
  z-index: 999
  .logo
    height: 12em
  .top-nav
    padding-left: 8%
    padding-right: 8%
    height: 65%
    img
      margin-top: 1%
  .bottom-nav
    padding-left: 8%
    padding-right: 8%
    background-color: #fff
    color: #000
  .nav-logo
    width: 14em
    height: auto
.menu-navigator
  background-color: #fff
  box-shadow: none
  color: #000
  li
    a
      color: #000
      text-align: center
      font-weight: bold
    a#whyTheBright
      width: 12em
    a#course
      width: 16em
    a#register
      width: 13em
.menu-navigator-component
  ul.dropdown-content
    top: 4.5em !important

// Footer
.footer
  background: #b2ff59
  height: 12em
  display: flex
  align-items: center
  padding-left: 8%
  padding-right: 8%
  img
    width: 20em
    height: auto

// Register Page
.register-page
  margin-top: 12em
  .form-section
    background-color: rgba(250,250,250,0.5)
    padding: 2em
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  .head-form
    text-align: center
    font-size: 35px
    font-weight: bold
    color: #414141
    margin-bottom: 1.5em
.section-button
  display: flex
  justify-content: center

// Upload Transcript Page
.upload-transcript-page
  margin-top: 12em
  .form-section
    background-color: rgba(250,250,250,0.5)
    padding: 2em
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  .head-form
    text-align: center
    font-size: 35px
    font-weight: bold
    color: #414141
    margin-bottom: 1em

// Mainpage
.mainpage
  margin-top: 12em
  .section-slide
    padding-top: 0.1em
    padding-bottom: 1em
  .row.section-promote-course
    margin-bottom: 0 !important
  .section-promote-course
    padding-top: 1em
    padding-bottom: 0.5em
    padding-right: 0.5em
    padding-left: 0.5em
  .section-menu-other
    padding-bottom: 2em
.item-menu-other
  img
    width: 100%
.col.item-menu-other
  padding: 0
  border: 1px dashed #d4d8dc
/////Responsive/////

$breakpoint-tablet: 992px
$breakpoint-mobile-mini: 350px
$breakpoint-mobile-large: 1000px
$breakpoint-labtop: 1367px
$breakpoint-desktop: 1680px

/////mobile large/////
@media only screen and (min-device-width: 351px) and (max-device-width: $breakpoint-mobile-large) and (-webkit-min-device-pixel-ratio: 2)
  .navigator
    position: fixed
    background-color: #82b1ff
    height: 15em
    top: 0

/////mobile small/////
@media only screen and (min-device-width: 100px) and (max-device-width: $breakpoint-mobile-mini)
  .navigator
    position: fixed
    background-color: #82b1ff
    height: 15em
    top: 0
